.purple{
    background-color: rgb(88, 0, 100);
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(219, 171, 108);
    padding-top: 5em;
    padding-left: 30em;
}